# Python
astroquery_cli/__pycache__/
astroquery_cli/modules/__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.tar.gz
*.whl

# Virtualenv
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Poetry
.poetry/
poetry.lock

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite3

# translation files
*.tmp

locales/fr/LC_MESSAGES/messages.po.bak
locales/ja/LC_MESSAGES/messages.po.bak
locales/zh/LC_MESSAGES/messages.po.bak

# aur
PKGBUILD
.SRCINFO

